<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibackend.mapper.VideoPublishMapper">
    <resultMap id="Base_Result_Map" type="com.bilibackend.entity.VideoPublish">
        <result property="publisherId" column="publisherId"/>
        <result property="videoId" column="videoId"/>
    </resultMap>
</mapper>
